cni: {{ rke2_cni }}

node-ip: "{{ ansible_all_ipv4_addresses | select('match', '^172\\.16\\.') | first }}"

tls-san:
{% for san in rke2_tls_san %}
  - "{{ san }}"
{% endfor %}

disable:
{% for component in rke2_disable_components %}
  - {{ component }}
{% endfor %}

disable-cloud-controller: true
cloud-provider-name: external

write-kubeconfig-mode: "0600"
